<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block head_title %}Quirell{% endblock %}</title>
<meta name="description" content="{% block head_desc %}Quirell, a social network by CollectQT{% endblock %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="rgb(85, 68, 136)">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
<link href="/static/css/main.css" rel="stylesheet">
